<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.std.forum.dao.IVideoDAO">
	<resultMap id="video_DB_Result" type="video">
		<result column="code" property="code" />
		<result column="name" property="name" />
		<result column="pic" property="pic" />
		<result column="url" property="url" />
		<result column="order_no" property="orderNo" />
		<result column="status" property="status" />
		<result column="updater" property="updater" />
		<result column="update_datetime" property="updateDatetime" />
		<result column="remark" property="remark" />
		<result column="company_code" property="companyCode" />
	</resultMap>
	<sql id="where_condition">
		<trim prefix="WHERE" prefixOverrides="AND | OR">
			<if test="code != null and code != '' ">
				AND t.code = #{code}
			</if>
			<if test="name != null and name != '' ">
				AND t.name like "%"#{name}"%"
			</if>
			<if test="status != null and status != '' ">
				AND t.status = #{status}
			</if>
			<if test="companyCode != null and companyCode != '' ">
				AND t.company_code = #{companyCode}
			</if>
			<if test="orderNo != null and orderNo != '' ">
				AND t.order_no = #{orderNo}
			</if>
			<if test="companyCodeList != null and companyCodeList != '' ">
				AND t.company_code in 
                <foreach item="item" index="index" collection="companyCodeList" open="(" separator="," close=")">
	            	#{item}
                </foreach> 
			</if>
		</trim>
	</sql>
	<select id="select_video" parameterType="video" resultMap="video_DB_Result">
		SELECT
		t.code
		,t.name
		,t.pic
		,t.url
		,t.order_no
		,t.status
		,t.updater
		,t.update_datetime
		,t.remark
		,t.company_code
		FROM
		tforum_video t
		<include refid="where_condition" />
		<trim prefix="ORDER BY ">
			<if test="order != null and order != '' ">
				t.${order}
			</if>
		</trim>
	</select>

	<select id="select_video_count" parameterType="video"
		resultType="java.lang.Long">
		SELECT count(1) FROM tforum_video t
		<include refid="where_condition" />
	</select>

	<insert id="insert_video" parameterType="video">
		INSERT INTO
		tforum_video(
		code
		,name
		,pic
		,url
		,order_no
		,status
		,updater
		,update_datetime
		,remark
		,company_code
		)
		VALUES(
		#{code}
		,#{name}
		,#{pic}
		,#{url}
		,#{orderNo}
		,#{status}
		,#{updater}
		,#{updateDatetime}
		,#{remark}
		,#{companyCode}
		)
	</insert>

	<update id="update_video" parameterType="video">
		UPDATE tforum_video
		SET
		name = #{name}
		,pic = #{pic}
		,url = #{url}
		,order_no = #{orderNo}
		,status = #{status}
		,updater = #{updater}
		,update_datetime = #{updateDatetime}
		,remark = #{remark}
		WHERE code = #{code}
	</update>
	
	<update id="update_video_up" parameterType="video">
		UPDATE tforum_video
		SET
		order_no = #{orderNo}
		,status = #{status}
		,updater = #{updater}
		,update_datetime = #{updateDatetime}
		,remark = #{remark}
		WHERE code = #{code}
	</update>
	
	<update id="update_video_down" parameterType="video">
		UPDATE tforum_video
		SET
		status = #{status}
		,updater = #{updater}
		,update_datetime = #{updateDatetime}
		,remark = #{remark}
		WHERE code = #{code}
	</update>

	<delete id="delete_video" parameterType="video">
		DELETE FROM
		tforum_video
		WHERE
		code = #{code}
	</delete>
	

</mapper>